@charset "UTF-8";
body {
  margin: 0;
  padding: 0;
  font-family: sans-serif; }

.Menu {
  height: 100vh;
  background-color: #455357; }
  .Menu .logo {
    justify-content: center; }
  .Menu .menuButton {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; }
    .Menu .menuButton .icone {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 100px;
      width: 100px;
      border-radius: 50%;
      background-color: #ffffff;
      margin-bottom: 1em; }
    .Menu .menuButton .legende {
      color: #ffffff; }

.main {
  background-color: #c8bede; }
  .main .title {
    border-bottom: solid 2px #c52121;
    margin: 1em; }
  .main .content {
    margin: 3em; }

.labelForm  {
  padding: 2em 0; }
